<meta name="robots" content="none">

<% content_for(:html_title) { 'リクエスト内容確認 | 即ボコ女子松戸店' } %>

<h1>リクエスト内容確認</h1>

<div class="container">
  <div class="border border-danger inner">
    <p class="right">
      <% str = @sender.user.address %>
      <% if str.include?("松戸") then %>
        <% address = 0 %>
      <% else %>
        <% address = 2000 %>
      <% end %>
      <h4>内容確認</h4>
      料金(コース料金<%= @home.system_fee %>円＋指名料2000円＋交通費)：<br>
      <%= @home.system_fee %>円＋2000円＋<%= address %>円 ＝<%= @home.system_fee + 2000 %>円<br><br>
      リクエスト内容：<br><%= @receiver.attack %><%= '、'+@home.request %><br><br>
      届け先住所:<br><%= @sender.user.address %><br><br>
    </p>
  </div>
  
</div>