<meta name="robots" content="none">

<% content_for(:html_title) { 'リクエスト内容確認 | 即ボコ女子松戸店' } %>

<h1>リクエスト内容確認</h1>

<div class="container">
  <div class="border border-danger inner">
    <p class="right">
      <% if @sender.user.address.include?("松戸") then %>
        <% fare = 0 %>
      <% else %>
        <% fare = 2000 %>
      <% end %>
      
      <% @home.delivery_time = calculation_running_time(@sender, @receiver) #if !"計算不可能" %>
      
      <h4>内容確認</h4>
      料金(コース料金<%= @home.system_fee %>円＋指名料2000円＋交通費)：<br>
      <%= @home.system_fee %>円＋2000円＋<%= fare %>円 ＝<%= @home.system_fee + 2000 %>円<br><br>
      <%= "予想到着時間:" + @home.delivery_time.to_s + '分～' + (@home.delivery_time+20).to_s + '分' %><br><br>
      リクエスト内容：<br><%= @receiver.attack %><br>
      <%= "[追加と禁止事項]" if '' != @home.request %><%= @home.request %><br><br>
      届け先住所:<br><%= @sender.user.address %><br><br>
    </p>
    <button type="button" class="m-1 btn btn-light"><%= link_to "戻る", new_home_path(key:  @home.receiver_id) , method: :get %></button>
    <button type="button" class="m-1 btn btn-light"><%= link_to "送信", performer_path(@sender.user.id, request: @receiver.id) %></button>
  </div>
  
</div>