<% content_for(:html_title) { '利用料金と遊戯範囲の表です。' } %>

<h1>利用料金と遊戯範囲</h1>

<div class="container">
  <div class="row my-5　border border-primary">
    <table class="table">
      <tr><td><%= "利用料金：40分9000円、60分13000円、80分17000円" %></td></tr>
      <tr><td><%= "交通費：松戸市無料、その他2000円" %></td></tr>
      <tr><td><%= "指名料：2000円" %></td></tr>
      <tr><td><%= "その他料金：制服オプション無料、入会費無料" %></td></tr>
      <tr><td><%= "利用エリア：松戸市、市川市、葛飾区" %></td></tr>
      <tr><td><%= "可能施設：自宅〇　ホテル〇" %></td></tr>
    </table>
  </div>
</div>