<div class="row">
  <div class="col-md-12 px-0">
    <h1>&nbsp;  求人情報</h1>
  </div>
</div>
  
<div class="container">
  <div class="row my-5">
    <div class="border border-danger inner">
      <p style="text-align:center;">こんな方に向いています。
    </div>
  </div>
  
  <div class="row my-5 d-flex align-items-center">
    <div class="col-md-5"><%= image_tag '/img/prepaid.png', class:'illustrated' %></div>
    <div class="col-md-7"><%= "いじめを受けた経験からトラウマを持っている方。職場でハラスメントを受けてストレスが溜まっている方。
      立場が上の人を叩く事による解消方法があります。（辛い記憶を楽しい経験で上書きする心理療法）" %></div>
  </div>  
  
  <div class="row my-5 d-flex align-items-center">
    <div class="col-md-5"><%= image_tag '/img/change_of_clothes.png', class:'illustrated' %></div>
    <div class="col-md-7"><%= "料金受取確認後に、女の子がコスプレ衣装に着替えます。コスプレは女子高生か婦警の制服になります。" %></div>
  </div>  
  
  <div class="row my-5 d-flex align-items-center">
    <div class="col-md-5"><%= image_tag '/img/penis_trampling.png', class:'illustrated' %></div>
    <div class="col-md-7"><%= "遊戯を開始します。女の子がエッチな格闘技を仕掛けます。仕掛ける技の内容は女の子により異なります。" %></div>
  </div>  
  
  <div class="row my-5 d-flex align-items-center">
    <div class="col-md-5"><%= image_tag '/img/end_of_play.png', class:'illustrated' %></div>
    <div class="col-md-7"><%= "遊戯を終了します。女の子が元の衣装に着替えて退室します。" %></div>
  </div>  
    
  <div class="form-group row justify-content-center">
    <button type="button" class="btn btn-light">
      <%= link_to "在籍女子へ", homes_path %>
    </button>
  </div>
</div>