<div class="row">
  <div class="col-md-12 px-0">
    <h1>&nbsp;  プレイ内容</h1>
  </div>
</div>
  
<div class="container">
  <div class="row my-5">
    <div class="border border-danger inner">
      <p style="text-align:center;">当店は、女の子が男性に格闘技を仕掛けるサービスです。<br>
      格闘技は安全を考慮した上で行っております。
      女の子への反撃は禁止となります。<br>
      当店でお遊びいただいた段階で、<%= link_to "サービス利用規約",opinions_service_path %>に同意したものとみなします。<br>
      必ず<%= link_to "サービス利用規約",opinions_service_path %>にはお目通しください。</p> 
    </div>
  </div>
  
  <div class="row my-5 d-flex align-items-center">
    <div class="col-md-5"><%= image_tag '/img/prepaid.png', class:'illustrated' %></div>
    <div class="col-md-7"><%= "料金を玄関先に置いてください。又、プレイの遂行と濃密な時間を過ごす為に、シャワーを事前に浴びる事が必須となります。" %></div>
  </div>  
  
  <div class="row my-5 d-flex align-items-center">
    <div class="col-md-5"><%= image_tag '/img/change_of_clothes.png', class:'illustrated' %></div>
    <div class="col-md-7"><%= "料金受取確認後に、女の子がコスプレ衣装に着替えます。コスプレは女子高生か婦警の制服になります。" %></div>
  </div>  
  
  <div class="row my-5 d-flex align-items-center">
    <div class="col-md-5"><%= image_tag '/img/penis_trampling.png', class:'illustrated' %></div>
    <div class="col-md-7"><%= "遊戯を開始します。女の子が格闘技を仕掛けます。仕掛ける技の内容は女の子により異なります。" %></div>
  </div>  
  
  <div class="row my-5 d-flex align-items-center">
    <div class="col-md-5"><%= image_tag '/img/end_of_play.png', class:'illustrated' %></div>
    <div class="col-md-7"><%= "遊戯を終了します。女の子が元の衣装に着替えて退室します。" %></div>
  </div>  
    
  <div class="form-group row justify-content-center">
    <button>
      <%= link_to "在籍女子へ", homes_path %>
    </button>
  </div>
  

  
  
</div>