<% content_for(:html_title) { 'リクエスト一覧 | 即ボコ女子松戸店' } %>

<h1>リクエスト</h1>

<div class="container">
  
  <%= form_with(model: @homes, local: true) do |f| %>
    <div class="row">
      ■コース選択：
    </div>
    
    <div class="row mb-3"> &emsp;
      <%= f.radio_button :system_fee, "9000" %>
      <%= f.label :system_fee, '40分9000円', value: '9000' %> &emsp;
      
      
      <%= f.radio_button :system_fee, "13000" %>
      <%= f.label :system_fee, '60分13000円 ', value: '13000' %> &emsp;
     
      
      <%= f.radio_button :system_fee, "17000" %>
      <%= f.label :system_fee, '80分17000円 ', value: '17000' %>
    </div>
  

    <div class="row"> 
      ■リクエスト内容
    </div>
    <div class="col-10">
      <%= @receiver.nickname+"さんからの" %><%= @receiver.performer.attack %><br>
    </div>
      
    <div class="row mt-3">
      &emsp;<%= "その他のリクエストや禁止技があれば記入" %>
    </div>
    <div class="row">
      <div class="col-sm-auto">
        
      
        <%= f.text_area :request ,{value: '',size:"80x4"} %>
        <%= f.hidden_field :sender_id, :value => @sender.id %>
        <%= f.hidden_field :receiver_id, :value => @receiver.id %>
      </div>
    </div>
    
    <div class="row"> &emsp;
      <%= f.submit "確認" %>
    </div>    
    
    <div class="row">
      <p>※リクエスト内容により、ご要望にお応えできない場合があります<br>
      ※ネット上でリクエストを行うには、会員登録が必要です</p>
      
    </div>
  <% end %>
</div>
