<% content_for(:html_title) { '当店の遊戯の流れ' } %>

<h1>プレイ内容</h1>

<div class="container">
  <div class="row my-5">
    <div class="border border-danger inner">
      <p class="center">当店は、女の子が男性に格闘技を仕掛けるサービスです。<br>格闘技は安全を考慮した上で行っております。
      女の子への反撃は禁止となります。<br>当店でお遊びいただいた段階で、<%= link_to "サービス利用規約",homes_service_path %>に同意したものとみなします。<br>
      必ず<%= link_to "サービス利用規約",homes_service_path %>にはお目通しください。</p> 
    </div>
  </div>
  
  <div class="row my-5 d-flex align-items-center">
    <div class="col-5"><%= image_tag '/img/prepaid.png', class:'square' %></div>
    <div class="col-lg-7">
      <p class="white">
        料金を玄関先に置いてください。又、プレイの遂行と濃密な時間を過ごす為に、シャワーを事前に浴びる事が必須となります。
      </p>
    </div>
  </div>

  <div class="row my-5 d-flex align-items-center">
    <div class="col-5"><%= image_tag '/img/change_of_clothes.png', class:'square' %></div>
    <div class="col-lg-7">
      <p class="white">
        料金受取確認後に、女の子がコスプレ衣装に着替えます。コスプレは女子高生か婦警の制服になります。
      </p>
    </div>
  </div>  
  
  <div class="row my-5 d-flex align-items-center">
    <div class="col-md-5"><%= image_tag '/img/penis_trampling.png', class:'square' %></div>
    <div class="col-lg-7">
      <p class="white">
        遊戯を開始します。女の子がエッチな格闘技を仕掛けます。仕掛ける技の内容は女の子により異なります。
      </p>
    </div>
  </div>  
  
  <div class="row my-5 d-flex align-items-center">
    <div class="col-md-5"><%= image_tag '/img/end_of_play.png', class:'square' %></div>
    <div class="col-lg-7">
      <p class="white">
        遊戯を終了します。女の子が元の衣装に着替えて退室します。
      </p>
    </div>
  </div>  
    
  <div class="row my-5 justify-content-center">
    <button type="button" class="btn btn-light">
      <%= link_to "在籍女子へ", performers_path %>
    </button>
  </div>
</div>