<% content_for(:html_title) { 'リクエスト | 即ボコ女子松戸店' } %>

<h1>リクエスト</h1>

<div class="container">
  
  <div class="row my-5 inner">
    <%= image_tag '/img/driving.png', class:'square' %>
  </div>
  
  
    
    <% @homes.each do | home | %>
    <div class="row my-5 border border-primary">
      <div class="col"><%= home.created_at.to_s + ":" %></div>
      <div class="col"><%= User.find(home.sender_id).nickname %></div>
      <div class="col"><%= '⇒' %></div>
      <div class="col"><%= link_to home.request ,home_path(home.id) %></div>
      <div class="col"><%= '⇒' %></div>
      <div class="col"><%= User.find(home.receiver_id).nickname %></div>
    </div>  
    <% end %>
    
  

  </div>
</div>
