<div class="row">
  <div class="col-md-12 px-0">
    <h1>&nbsp;登録情報変更画面</h1>
  </div>
</div>

<div class="container">
  <div class="row my-5">
    <%= "画像：" %>
    <%= form_with(model: @perfomer, local: true) do |f| %>
        <%= f.file_field :image %>
        <%= submit_tag("登録") %>
      <% end %>
    <%= image_tag @perfomer.image.url, class: 'thumbnail'  %>
  </div>
  
  <div class="row my-5">
    <%= "アカウント情報：" %>
    <table class="table">
      <tr><td><%= "Eメール：#{@user.email}" %></td></tr>
      <tr><td><%= " パスワード: xxxxxxxxxxx" %></td></tr>
      <tr><td><%= "ニックネーム：#{@user.nickname}" %></td></tr>
      <tr><td><%= "在籍 or 退会：在籍" %></td></tr>
      <td><button type="button">
        <%= link_to "変更", edit_user_registration_path %>
      </button></td>
    </table>
  </div>
</div>