<% content_for(:html_title) { '登録情報変 | 即ボコ女子松戸店' } %>

<h1>登録情報変更</h1>

<div class="container">
  <% if ENV['ADMINISTRATOR_MAIL'] == @certification.email %>
    <div class="row my-5">
      <p>お店用のプロフィール：</p>
      <table class="table">
        <tr><td>
          <%= form_with(model: @user.performer, local: true) do |f| %>
            <%= "年齢：" %><%= f.text_field :age ,{size:"10"}%>
            <%= f.submit "変更" %>
          <% end %>
        </td></tr>
        <tr><td>
          <%= form_with(model: @user.performer, local: true) do |f| %>
            <%= "スリーサイズ(B-W-H)：" %><%= f.text_field :three_size ,{size:"30"} %>
            <%= f.submit "変更" %>
          <% end %>
        </td></tr>
        <tr><td>
          <%= form_with(model: @user.performer, local: true) do |f| %>
            <%= "可能な攻撃技：" %><%= f.text_area :attack ,{value: 'ビンタ、金蹴り、膝蹴り、お尻ぺんぺん、金玉握り、膝金、電気あんま、手錠拘束、拘束シコシコ尋問、チョークスリーパー、腕十字固め、踏みつけ、金玉殴り、ちんぽビンタ、人間マット、太もも締め',size:"60x8"} %>
            <%= f.submit "変更" %>
          <% end %>
        </td></tr>
      </table>
    </div>  
    
    <div class="row my-5">
      <%= "画像：" %>
      <%= form_with(model: @user.performer, local: true) do |f| %>
        <%= f.file_field :image %>
        <%= f.submit "登録" %>
      <% end %>
    </div>
  <% end %>

      
  <% if '女' == @user.sex || ENV['ADMINISTRATOR_MAIL'] == @certification.email %>
    <div class="row my-5">
      <%= display_thumbnail(@user.performer) %>
    </div>
    
    <div class="row my-5">
      <p>週間スケジュール：</p>
      <table>
        <tr><td>
          <%= form_with(model: @user.performer, local: true) do |f| %>
            <p>可能な日時(定休日 月曜日、店営業18:00～00:00、休暇 00:00～00:00 ) %><br></p>
            <p>
            　日曜日<%= make_plan('日曜日',f) %><br>
            　火曜日<%= make_plan('火曜日',f) %><br>
            　水曜日<%= make_plan('水曜日',f) %><br>
            　木曜日<%= make_plan('木曜日',f) %><br>
            　金曜日<%= make_plan('金曜日',f) %><br>
            　土曜日<%= make_plan('土曜日',f) %><br>
            </p>
            <%= f.submit "変更" %>
          <% end %>
        </td></tr>
      </table>
    </div>
    
    <div class="row my-5">
      <%= form_with(model: @user.performer, local: true) do |f| %>
        <%= "SNSリンク先：" %><%= f.text_field :sns ,{size:"30"} %>
        <%= f.submit "変更" %>
      <% end %>
    </div>
  <% end %>
  
  <div class="row my-5">
    <%= "アカウント情報：" %>
    <table class="table">
      <tr><td><%= "ニックネーム：#{@user.nickname}" %></td></tr>
      <tr><td><%= "Eメール：#{@user.email}" %></td></tr>
      <tr><td><%= "パスワード: xxxxxxxxxxx" %></td></tr>
      <tr><td><%= "住所: #{@user.address}" %></td></tr>
      <tr><td><%= "電話番号: #{@user.telephone_number}" %></td></tr>
      <tr><td><%= "在籍 or 退会：在籍" %></td></tr>
      <td><button type="button">
        <%= link_to "変更", edit_user_registration_path %>
      </button></td>
    </table>
  </div>
</div>