<% content_for(:html_title) { '全身写真 | 書類審査申請 | 即ボコ女子松戸店' } %>

<h1>全身写真提出</h1>

<div class="container">
  <div class="row my-5">
    <p>  1・２・3⃣</p>
  </div>
  
  <div class="row my-5">
    <p class="large">全身写真(全身が分かる写真)</p>
  </div>
  
  <div class="row my-5">
    <%= form_with(model: @performer, local: true) do |f| %>
      <%= f.file_field :full_body %>
      <%= f.hidden_field :examination, :value => "full_body" %>
      <%= f.submit "登録" %>
    <% end %>
  </div>
  
  <div class="row my-5">
    <% if @performer.full_body? %>
      <%= image_tag @performer.full_body.url, class: 'thumbnail' %>
    <% end %>
  </div>
  
  <div class="row my-5">
    <%= button_to "完了", "/performers/#{@performer.user_id}", {method: :get, params:{status: '審査依頼'}} %>
  </div>
</div>