<div class="row">
  <div class="col-md-12 px-0">
    <h1>&nbsp;書類審査申請</h1>
  </div>
</div>

<div class="container">
  <div class="row my-5">
    <%=   "1・２・3⃣" %>
  </div>
  
  <div class="row my-5">
    <%= "画像：" %>
    <%= form_with(model: @performer, local: true) do |f| %>
      <%= f.file_field :full_body %>
      <%= f.hidden_field :examination, :value => "full_body" %>
      <%= submit_tag("登録") %>
    <% end %>
  </div>
  
  <div class="row my-5">
    <% if @performer.full_body? %>
      <%= image_tag @performer.full_body.url, class: 'thumbnail'  %>
    <% end %>
  </div>
  
  <%= button_to "完了", "/performers/#{@performer.user_id}", {method: :get, params:{status: '審査中'}}   %>
  
</div>