<% content_for(:html_title) { '本人確認書類提出　| 書類審査申請 | 即ボコ女子松戸店' } %>

<h1>本人確認書類提出</h1>

<div class="container">
  <div class="row my-5">
    <p>   1・2⃣・3</p>
  </div>
  
  <div class="row my-5">
    <p class="large">本人確認書類(免許書、個人ナンバーカード、学生証※写真付きで住所が確認できる書類の画像)：</p>
  </div>
  
  <div class="row my-5">
    <%= form_with(model: @performer, local: true) do |f| %>
      <%= f.file_field :identification %>
      <%= f.submit "登録" %>
    <% end %>
  </div>
  
  <div class="row my-5">
    <% if @performer.identification? %>
      <%= image_tag @performer.identification.url, class: 'Horizontal'  %>
    <% end %>
  </div>
  
  <div class="row my-5">
    <%= button_to "次へ", performers_full_body_path, {method: :get}  %>
  </div>
</div>