<div class="row">
  <div class="col-md-12 px-0">
    <h1>&nbsp;出勤スケジュール</h1>
  </div>
</div>

<div class="container">
  <div class="row my-5">
    <% if @user.performer.image? %>
      <%= image_tag @user.performer.image.url, class: 'thumbnail'  %>
    <% end %>
    
    <% if '審査中' == @user.performer.progress %>
      <%= @user.performer.nickname+"さんの書類を審査中" %>
    <% elsif '入店' == @user.performer.progress %>
        <%= "画像：" %>
        <% if @user.performer.image? %>
          <%= link_to image_tag(@user.performer.image.url, class: 'thumbnail') %>
        <% else %>
          <%= link_to image_tag("/img/pending.png", class: 'thumbnail') %>
        <% end %>

 
        <font size="5px"><%= @user.performer.nickname+"さんの攻撃技：" %><p></p></font>
        <%= "出勤可能日時："%><br>
        <table class="table">
          <tr>
            <td>日</td><td>月</td><td>火</td><td>水</td><td>木</td><td>金</td><td>土</td>
          </tr>
          <tr>
            <td>18:00～24:00</td><td>定休日</td><td>18:00～24:00</td><td>18:00～24:00</td><td>18:00～24:00</td><td>18:00～24:00</td><td>18:00～24:00</td>
          </tr>
        </table>

      
    <% else %>
      <button type="button">
        <%= link_to "書類審査申請", new_performer_path %>
      </button>
    <% end %>
  </div>
</div>
