<div class="row">
  <div class="col-md-12 px-0">
    <h1>&nbsp;利用者一覧</h1>
  </div>
</div>

<div class="container">
  <% if nil != @user %>
    <% if ENV['ADMINISTRATOR_MAIL'] == @user.email %>
      <div class="row">
        <% begin %>
          <table border=”1″>
            <tr>
              <th><%= "名前" %></th>
              <th><%= "Eメール" %></th>
              <th><%= "電話番号" %></th>
              <th><%= "性別" %></th>
              <th><%= "住所" %></th>
              <th><%= "申請状態" %></th>
              <th><%= "プロフィール" %></th>
            </tr>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td><%= user.telephone_number %></td>
                <td><%= user.sex %></td>
                <td><%= user.address %></td>
                <% if user.performer.progress? %>
                  <td><%= link_to user.performer.progress,"/tests/#{user.id}" %></td>
                <% else %>
                  <td><%= link_to "未設定","/tests/#{user.id}" %></td>
                <% end %>
                <td><%= link_to "設定", "/performers/#{user.id}/edit" %></td>
              </tr>
            <% end %>
          </table>
          
        <% rescue => e %>
          <%= p e %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>