<div class="row">
  <div class="col-md-12 px-0">
    <h1>&nbsp;利用者一覧</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <% begin %>
      <table border=”1″>
        <tr>
          <th><%= "名前" %></th>
          <th><%= "Eメール" %></th>
          <th><%= "電話番号" %></th>
          <th><%= "性別" %></th>
          <th><%= "住所" %></th>
          <th><%= "申請状態" %></th>
        </tr>
        <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.telephone_number %></td>
          <td><%= user.sex %></td>
          <td><%= user.address %></td>
          <td><%= user.performer.progress %></td>
        </tr>
        <% end %>
      </table>
      
    <% rescue => e %>
      <%= p e %>
    <% end %>
  </div>
</div>