<meta name="robots" content="none">

<% content_for(:html_title) { '利用者一覧 | 管理者用のページ | 即ボコ女子松戸店' } %>

<h1>利用者一覧</h1>

<div class="container">
  <% if nil != @user %>
    <% if ENV['ADMINISTRATOR_MAIL'] == @user.email %>
      <div class="row">
        <% begin %>
          <table border=”1″>
            <tr>
              <th><p> 名前</p></th>
              <th><p> Eメール</p></th>
              <th><p> 電話番号</p></th>
              <th><p> 性別</p></th>
              <th><p> 住所</p></th>
              <th><p> 申請状態</p></th>
              <th><p> プロフィール</p></th>
            </tr>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td><%= user.telephone_number %></td>
                <td><%= user.sex %></td>
                <td><%= user.address %></td>
                <% if user.performer.progress? %>
                  <td><%= link_to user.performer.progress,"/tests/#{user.id}" %></td>
                <% else %>
                  <td><%= link_to "未設定","/tests/#{user.id}" %></td>
                <% end %>
                <td><%= link_to "設定", "/performers/#{user.id}/edit" %></td>
              </tr>
            <% end %>
          </table>
          
        <% rescue => e %>
          <%= p e %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>