<!DOCTYPE html>
<html>
  <head>
    <title>Sokuboko</title>
    
    <!--integrity:html検証,crossorigin:ユーザー認証情報anonymous(不要)-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      
    <!--googleフォント設定-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@500&family=Kosugi+Maru&family=Potta+One&family=Yomogi&display=swap" rel="stylesheet">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
  </head>

  <header>
    <div class="container-fluid">
      
      <div class="row">
        <div class="col-md-9">
          <%= link_to image_tag('symbol.png',class: 'icon'),  homes_path %>
          <span style="font-size: 2.5em;">即ボコ女子</span><span style="font-size: 0.9em;">　～松戸発。逆転無しのM男向けデリヘル。</span>
        </div>

        <div class="col-md-3 d-flex align-items-end">
          <p style="font-size: 1.1em;">営業時間 昼14:00～ 深夜2:00<br>
          連絡先:080-1764-0796</p>
        </div>
      </div>
      
      <div class="row">
        <div class="col-12 clearfix">
          <div class="float-right test-box"><span style="font-size: 0.5em;"><%= "女子求人! 面接不要! 5分でネット登録!" %></span></div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-6 clearfix">
          <div class="float-left test-box">
            <button type="button" class="btn btn-light">
              <%= link_to "プレイ内容", '/homes/new' %>
            </button>
            <button type="button" class="btn btn-light">
              <%= link_to "システム料金", '/homes/show' %>
            </button>
            <button type="button" class="btn btn-light">
              <%= link_to "在籍女子", homes_path %>
            </button>
          </div>
        </div>
        <div class="col-6 clearfix">
          <div class="float-right test-box">
            <% if user_signed_in? %>
              <div class="right">
                <button type="button" class="btn btn-light">
                  <%= link_to "ユーザー情報", "/performers/#{@user.id}" %>
                </button>
                <button type="button" class="btn btn-light">
                  <%= link_to "変更", "/performers/#{@user.id}/edit" %>
                </button>  
                <button type="button" class="btn btn-light">
                  <%= link_to "ログアウト", destroy_user_session_path, method: "delete" %>
                </button>
              </div>
            <% else %>
              <div class="right">
                <button type="button" class="btn btn-light">
                  <%= link_to "新規登録", new_user_registration_path, method: "get" %>
                </button>
                <button type="button" class="btn btn-light">
                  <%= link_to "ログイン\n", new_user_session_path, method: "get" %>
                </button>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </header>
  
  <body>
    <%# フラッシュ追加%>
    <% if notice.present? %>
      <div class="alert alert-dismissable alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p><%= notice %></p>
      </div>
    <% end %>
  
    <% if alert.present? %>
      <div class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p><%= alert %></p>
      </div>
    <% end %>
    <div class="container-fluid">
    <%= yield %>
    </div>
  </body>
  
  <% if nil != @certification %>
    <% if 'orino0710@gmail.com' == @certification.email %>
      <footer class="footer color_red">
    <% else %>
      <footer class="footer color_pink">
    <% end %>
  <% end %>
  
    <div class="container-fluid clearfix">
      <div class="row mx-5 my-3">
        <div class="mx-3"><%= link_to '利用規約', opinions_terms_path %></div>
        <div class="mx-3"><%= link_to 'プライバシーポリシー', opinions_policy_path %></div>
        <div class="mx-3"><%= link_to '特定商取引法に基づく表記', opinions_transaction_path %></div>
      </div>
      <div class="row mx-5 my-2">
        <div class="col-12 clearfix">
          <div class="float-right"><p>© 2021 即ボコ女子松戸店</p></div>
          <span style="font-size: 0.1em;"><a href= "/tests" class="hid">h</a></span>
        </div>
      </div>
    </div>
  </footer>
</html>
