<!DOCTYPE html>
<html>
  <head>
    <title>Sokuboko</title>
    
    <!--integrity:html検証,crossorigin:ユーザー認証情報anonymous(不要)-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      
    <!--googleフォント設定-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@500&family=Kosugi+Maru&family=Potta+One&family=Yomogi&display=swap" rel="stylesheet">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
  </head>

  <header>
    <div class="container-fluid">
      
      <div class="row">
        <div class="col-md-auto">
          <%= link_to image_tag('symbol.png',class: 'icon'),  homes_path %>
        </div>
        <div class="col-md-auto">
          <span style="font-size: 2.5em;">即ボコ女子</span>
          <span style="font-size: 0.1em;">
            <% if Rails.env.development? %>
              <%= link_to '(テスト版)', tests_path %>
            <% end %>
          </span>
        </div>
      </div>
      
      <div class="row">
        <!-- 左寄せ --><!-- clearfixは、浮いた要素のバリア機能 -->
        <div class="col-12 clearfix">
          <div class="float-left test-box"><span style="font-size: 1.2em;">松戸発。逆転無しのデリヘル</span></div>
        </div>
      </div>
      
      <div class="row">
        <!-- 右寄せ -->
        <div class="col-12 clearfix">
          <div class="float-right test-box">
            <% if user_signed_in? %>
              <div class="right">
                <button type="button" class="btn btn-light">
                  <%= link_to "ログアウト", destroy_user_session_path, method: "delete" %>
                </button>
              </div>
            <% else %>
              <div class="right">
                <button type="button" class="btn btn-light">
                  <%= link_to "新規登録", new_user_registration_path, method: "get" %>
                </button>
                <button type="button" class="btn btn-light">
                  <%= link_to "ログイン\n", new_user_session_path, method: "get" %>
                </button>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      
    </div>
  </header>
  
  <body>
    <%= yield %>
  </body>
</html>
